<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/submit" method="post">
          <div class="form-group" >
              <input type="text" name="username" class="form-control" placeholder="Username" required/>
          </div>
          <br>
          <div class="form-group">
              <input type="text" name="password"  class="form-control" placeholder="Password" required/>
          </div>
          <br>
          <div class="form-group">
              <button class="btn btn-info">Login</button>
              <a href="/users" class="btn btn-primary">Register</a></p>
          </div>
          <br>
      </form>
    </div>
  </div>
</div>
